<div class="page-header">
  <h1>Product Catalog</h1>
</div>

<% @product_list.each do |product| %>
  <div class="row">
    <div class="col-md-8">
      <%= product.name %>
      <%= product.description %>
        <div class="image">
          <%= image_tag product.image_url, size:"200x250"%>
        </div>
    </div>
  </div>
<% end %>
